* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(152, 142, 161);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(58, 0, 112);
}

h2 {
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}

img.lado {
    width: 25%;
    float: right;
}

a {
    text-decoration: none;
    font-size: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(32, 20, 199);
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a sidebar */
.sidebar {
    background-color: #f8f9fa; /* Cor de fundo da sidebar */
    height: 100vh; /* Altura total da viewport */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Sombra na linha de divisão */
    padding: 20px;
    position: fixed; /* Fixa a posição da sidebar */
    top: 0;
    left: 0;
    width: 16.666667%; /* 2/6 da largura da página */
}

/* Estilo para o conteúdo principal */
.content {
    margin-left: 16.666667%; /* Largura da sidebar */
    padding: 20px;
}

/* Estilo para o menu dentro da sidebar */
.sidebar ul {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0; /* Espaçamento entre os itens do menu */
    padding: 10px; /* Espaçamento interno dos itens do menu */
    background-color: #fff; /* Cor de fundo dos itens do menu */
    border-radius: 5px; /* Borda arredondada nos itens do menu */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra nos itens do menu */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transições para o efeito de hover */
}

/* Efeito hover nos itens do menu */
.sidebar ul li:hover {
    background-color: #e9ecef; /* Cor de fundo ao passar o mouse */
    transform: translateY(-3px); /* Efeito de relevo ao passar o mouse */
}

/* Links dentro dos itens do menu */
.sidebar ul li a {
    color: #000; /* Cor do texto dos links */
    text-decoration: none; /* Remove a sublinhado dos links */
    display: block; /* Torna os links em blocos */
}
